ListadoDiscos/WebContent/wsdl/MotorWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.discos.dis.ufv.es" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.discos.dis.ufv.es" xmlns:intf="http://ws.discos.dis.ufv.es" xmlns:tns1="http://bean.discos.dis.ufv.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.discos.dis.ufv.es" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.discos.dis.ufv.es"/>
   <element name="getDiscos">
    <complexType>
     <sequence>
      <element name="titulo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDiscosResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDiscosReturn" type="tns1:Disco"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertar">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="titulo" type="xsd:string"/>
      <element name="artista" type="xsd:string"/>
      <element name="genero" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertarResponse">
    <complexType/>
   </element>
   <element name="modificar">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="titulo" type="xsd:string"/>
      <element name="soporte" type="xsd:string"/>
      <element name="artista" type="xsd:string"/>
      <element name="genero" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modificarResponse">
    <complexType/>
   </element>
   <element name="eliminar">
    <complexType>
     <sequence>
      <element name="soporte" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminarResponse">
    <complexType/>
   </element>
   <element name="guardar">
    <complexType/>
   </element>
   <element name="guardarResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.discos.dis.ufv.es" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Disco">
    <sequence>
     <element name="artista" nillable="true" type="xsd:string"/>
     <element name="genero" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="soporte" nillable="true" type="xsd:string"/>
     <element name="titulo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="eliminarResponse">

      <wsdl:part element="impl:eliminarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="guardarResponse">

      <wsdl:part element="impl:guardarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDiscosResponse">

      <wsdl:part element="impl:getDiscosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDiscosRequest">

      <wsdl:part element="impl:getDiscos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="guardarRequest">

      <wsdl:part element="impl:guardar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modificarResponse">

      <wsdl:part element="impl:modificarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminarRequest">

      <wsdl:part element="impl:eliminar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertarResponse">

      <wsdl:part element="impl:insertarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertarRequest">

      <wsdl:part element="impl:insertar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modificarRequest">

      <wsdl:part element="impl:modificar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MotorWS">

      <wsdl:operation name="getDiscos">

         <wsdl:input message="impl:getDiscosRequest" name="getDiscosRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDiscosResponse" name="getDiscosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertar">

         <wsdl:input message="impl:insertarRequest" name="insertarRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertarResponse" name="insertarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modificar">

         <wsdl:input message="impl:modificarRequest" name="modificarRequest">

       </wsdl:input>

         <wsdl:output message="impl:modificarResponse" name="modificarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminar">

         <wsdl:input message="impl:eliminarRequest" name="eliminarRequest">

       </wsdl:input>

         <wsdl:output message="impl:eliminarResponse" name="eliminarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="guardar">

         <wsdl:input message="impl:guardarRequest" name="guardarRequest">

       </wsdl:input>

         <wsdl:output message="impl:guardarResponse" name="guardarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MotorWSSoapBinding" type="impl:MotorWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDiscos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDiscosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDiscosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modificar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modificarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modificarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eliminarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eliminarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="guardar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="guardarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="guardarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MotorWSService">

      <wsdl:port binding="impl:MotorWSSoapBinding" name="MotorWS">

         <wsdlsoap:address location="http://localhost:8080/ListadoDiscos/services/MotorWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
